<!-- Application ToolBar -->

<nav class="navbar navbar-expand-md bg-info navbar-light fixed-top">
    <!-- Brand -->
    <a class="navbar-brand font-weight-bold" href="home">Cognixia JUMP Portal</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <!-- Create Dropdown -->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Add to Our Site
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Add an Animal</a>
            <a class="dropdown-item" href="#">Add a Shelter</a>
            <a class="dropdown-item" href="#">Add Staff</a>
            <a class="dropdown-item" href="#">Add Foster</a>
        </div>
        </li>
    </ul>
    <a *ngIf="!loginservice.isUserLoggedIn()" class="navbar-text font-weight-bold navbar-nav ml-auto" href="login">Login/Signup Here</a>

</nav>
