<app-navbar></app-navbar>

<div>
  <h3>Your Students</h3>
  <!-- <app-students></app-students> -->
</div>

<div>
  <h3>Your Location</h3>
  <app-instructor-locations></app-instructor-locations>
</div>
 
<div>
  <h3>Your Colleagues</h3>
  <!-- <app-students></app-students> -->
</div>

<div>
  <h3>Your Clients</h3>
  <!-- <app-clients></app-clients> -->
</div>

<div>
  <h3>Your Resources</h3>
  <app-instructor-resources></app-instructor-resources>
</div>

<div>
  <h3>Your Tools</h3>
  <!-- <app-tools></app-tools> -->
</div>
