<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <!--Empty cards show up-->
    <div class="col-md-4">
      <div class="card mb-2">
        <!--If Location, show locations-->
        <ng-template [ngIf]='location'>
          <img class="card-img-top" src="{{ location.imagePath }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ location.name }}</h4>
            <p class="card-text">{{ location.address.streetName }}</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </ng-template>

        <!--If Student, show students-->
        <ng-template [ngIf]='student'>
          <img class="card-img-top" src="{{ student.imagePath }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ student.firstName + " " + student.lastName }}</h4>
            <p class="card-text">{{ student.description }}</p>
            <a class="btn btn-primary">Button</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!--/.First slide-->
</div>